APP_ENV=testing
ACCESS_TOKEN_TTL_MINUTES=1440
REFRESH_TOKEN_TTL_DAYS=30
APP_KEY=base64:jpYo2JgfSlr6TynoASm/+aaV3+e11rv94AsVow1/uf4=
APP_DEBUG=true
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=autenticacao_test
DB_USERNAME=test_user
DB_PASSWORD=test_password
DB_COLLATION=utf8mb4_0900_ai_ci
BCRYPT_ROUNDS=4
CACHE_DRIVER=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array
MAIL_MAILER=array
TELESCOPE_ENABLED=false
PASSWORD_RESET_FRONTEND_URL=http://localhost:3000
