APP_ENV=testing
APP_KEY=
APP_DEBUG=true
DB_CONNECTION=mysql
DB_HOST=shared-mysql
DB_PORT=3306
DB_DATABASE=autenticacao_test
DB_USERNAME=test_user
DB_PASSWORD=test_password
DB_COLLATION=utf8mb4_0900_ai_ci
CACHE_DRIVER=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array
MAIL_MAILER=array
